{% load static %}
<header>
<!--ANALITICS-->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-56981889-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<nav class="navbar navbar-inverse navbar-fixed-top col-md-12" style="background-color:#868e96">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand btn-lg">{{ user.username }}</a>
        </div>
    <!--<div class="col-md-12" >-->
        <div class="btn-group">
            <!--href="/base_dades" -->
            <!--href="/mapa"-->
            <a href="http://exocat.creaf.cat/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-backward'></i>     Pàgina principal</a>
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Admins' %}
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle btn btn-secondary btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                               <!--aria-expanded="true">-->
                                <!--<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Edició-->
                                <!--<span class="caret"></span>-->
                            <!--</a>-->

                                <!--&lt;!&ndash;<li><a href="/welcome/">Idioma</a></li>&ndash;&gt;-->
                                <!--<li><a href="#" onclick='dialog_organismes_cabecera();'>Organismes</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li class="dropdown-header">  Usuaris:</li>-->
                                <!--<li><a href="#" onclick='dialog_usuaris_creaf_cabecera();'>Usuaris CREAF</a></li>-->
                                <!--<li><a href="#" onclick='dialog_usuaris_externs_cabecera();'>Usuaris extern</a></li>-->
                                <!--<li><a href="#" onclick='dialog_responsables_cabecera();'>Responsables</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle btn btn-secondary btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Administrar
                                    <span class="caret"></span>
                            </a>
                            <!--btn btn-secondary btn-lg-->
                            <ul class="dropdown-menu">
                                <li><a href="/formularis/" class="dropdown-item" role="button" >Administrar formularis</a></li>
                                <li><a href="/revisar_citacions_aca/" class="dropdown-item" role="button" >Administrar citacions Exoaqua</a></li>
                                <li><a href="/administrar_citacions_fitxer/" class="dropdown-item" role="button" >Administrar citacions de fitxer</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a href="#" class="dropdown-toggle btn btn-secondary btn-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Citacions
                                    <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/formularis_localitats_especie/" class="dropdown-item" role="button" >Formulari de citació</a></li>
                                <li><a href="/introduccio_citacions_fitxer/" class="dropdown-item" role="button" >Citacions per fitxer</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <!--Si esta autenticado pero no es admin-->
                        <a href="/formularis/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-wpforms'></i>     Administrar els meus formularis</a>
                        <a href="/formularis_localitats_especie/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-table'></i>     Formulari de citació</a>
                        <a href="/introduccio_citacions_fitxer/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-upload'></i>     Citacions per fitxer</a>
                    {% endif %}
                {% endfor %}
                <a href="/base_dades/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-newspaper-o'></i>     Base de dades</a>
                <a class="btn btn-secondary btn-lg" role="button" title="Clica per contactar amb suport.exocat@creaf.uab.cat." href='mailto:suport.exocat@creaf.uab.cat'><i class='fa fa-info-circle'></i>     Ajuda i suport</a>
                <a href="/logout/" role="button" class="btn btn-secondary btn-lg"><i class='fa fa-user-circle'></i>     Tancar Sessió</a>
            {% else %}
                <!--Si es un usuario anonimo-->
                <a href="/formularis_localitats_especie/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-map-marker'></i>     Formulari de citació</a>
                <a href="/base_dades/" class="btn btn-secondary btn-lg" role="button" ><i class='fa fa-newspaper-o'></i>     Base de dades</a>
                <a class="btn btn-secondary btn-lg" role="button" title="Clica per contactar amb suport.exocat@creaf.uab.cat." href='mailto:suport.exocat@creaf.uab.cat'><i class='fa fa-info-circle'></i>     Ajuda i suport</a>
                <a href="/login/" role="button" class="btn btn-secondary btn-lg opcion_cabecera"><i class='fa fa-user-circle'></i>     Iniciar Sessió</a>
            {% endif %}

        </div>
    </div>
</header>