{% load static %}
<header>
    <div class="col-md-6 offset-md-3" background="{% static 'imagenes/img_header.jpg' %}">
        <img src="{% static 'imagenes/img_header.jpg' %}" width="100%">
    </div>

    <div class="col-md-6 offset-md-3" style="background-color:#868e96">

    <div class="btn-group">
        <!--href="/base_dades" -->
        <!--href="/mapa"-->
          <a href="#" id="cabecera_llistat_especies" class="btn btn-secondary btn-lg opcion_cabecera" role="button" style="border-right: 3px solid #ccc;">Espècies</a>
          <a href="#" id="cabecera_mapa" class="btn btn-secondary btn-lg opcion_cabecera" role="button" style="border-right: 3px solid #ccc;">Àrees geogràfiques</a>
          <a href="#" id="cabecera_colaboradors" role="button" class="btn btn-secondary btn-lg opcion_cabecera" style="border-right: 3px solid #ccc;">Col·laboradors</a>
          <a href="#" id="cabecera_coordinacio" role="button" class="btn btn-secondary btn-lg opcion_cabecera" style="border-right: 2px solid #ccc;">Coordinació i contacte</a>
          <!--<a href="/formularis_localitats_especie/" id="cabecera_formularis" role="button" class="btn btn-secondary btn-lg opcion_cabecera" style="border-right: 2px solid #ccc;">Introducció de dades</a>-->

    </div>


</header>