{% load static %}
<header>
    <div class="col-md-6 offset-md-3" background="{% static 'imagenes/img_header.jpg' %}">
        <img src="{% static 'imagenes/img_header.jpg' %}" width="100%">
    </div>

    <div class="col-md-6 offset-md-3" style="background-color:#868e96">

    <div class="btn-group">
          <a href="/base_dades" class="btn btn-secondary btn-lg" role="button" style="border-right: 3px solid #ccc;">Llistat d'espècies</a>
          <a href="http://montesdata.creaf.cat/Exocat/exocat/llistacolaboradors.htm" role="button" class="btn btn-secondary btn-lg" style="border-right: 3px solid #ccc;">Llista de Col·laboradors</a>
          <a href="http://montesdata.creaf.cat/Exocat/exocat/coordinacio.htm" role="button" class="btn btn-secondary btn-lg" style="border-right: 2px solid #ccc;">Coordinació i contacte</a>

    </div>

<!--<nav class="navbar navbar-inverse navbar-fixed-top row">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->

            <!--&lt;!&ndash;<p class="navbar-brand" style="margin-left:0px;"></p>&ndash;&gt;-->
        <!--</div>-->

        <!--<ul class="nav navbar-nav navbar-left">-->

            <!--<li>-->
                <!--<a href="/base_dades">-->
                    <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Llistat d'espècies-->
                <!--</a>-->
            <!--</li>-->


            <!--<li>-->
                <!--<a href="http://montesdata.creaf.cat/Exocat/exocat/llistacolaboradors.htm">-->
                    <!--<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Llista de Col·laboradors-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="http://montesdata.creaf.cat/Exocat/exocat/coordinacio.htm">-->
                    <!--<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Coordinació i contacte-->
                <!--</a>-->
            <!--</li>-->



        <!--</ul>-->
    <!--</div>-->

<!--</nav>-->
</header>