{% load static %}
<header>
<nav class="navbar navbar-inverse navbar-fixed-top col-md-12" style="background-color:#868e96">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand btn-lg">{{ user.username }}</a>
        </div>
    <!--<div class="col-md-12" >-->
        <div class="btn-group">
            <!--href="/base_dades" -->
            <!--href="/mapa"-->
            {% if user.is_authenticated %}
              {% for group in user.groups.all %}
                {% if group.name == 'Admins' %}
                <a href="/formularis/" class="btn btn-secondary btn-lg" role="button" >Administrar formularis</a>
                {% endif %}
                <a href="/formularis_localitats_especie/" class="btn btn-secondary btn-lg" role="button" >Formulari de citació</a>
                <a href="/base_dades/" class="btn btn-secondary btn-lg" role="button" >Base de dades</a>
              {% endfor %}
              <a href="/logout/" role="button" class="btn btn-secondary btn-lg">Tancar Sessió</a>
            {% endif %}
        </div>
    </div>
</header>